:root{
    --green: #489078;
    --gray: #353131;
}
.view {
    display: none;
    min-height: 100vh;
    width: 100%;
}

.view.active {
    display: block;
}

.menu-view {
    flex-direction: column;
    background-color: var(--green);
    padding: 2em;
}

.menu-view.active {
    display: flex;
    align-items: center;
}

.cart-view {
    background-color: #EEEEEE;
    padding: 0.5em 2em 2em 2em;
    
}
.cart-view.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.eta-view {
    background-color: var(--gray);
    padding: 2em;
}

.eta-view.active {
    display: flex;
    align-items: center;
    justify-content: center;
}

.receipt-view {
    background-color: var(--gray);
    padding: 2em;
}

.receipt-view.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}