.view {
    display: none;
    min-height: 100vh;
    width: 100%;
}

.view.active {
    display: block;
}


.menu-view {
    flex-direction: column;
    background: #489078;
    padding: 2em;
}

.menu-view.active {
    display: flex;
    align-items: center;
}

.cart-view {
    background-color: #EEEEEE;
    padding: 2em;
}
.cart-view.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.eta-view {
    align-items: center;
    justify-content: center;
    background-color: #353131;
    padding: 2em;
}

.eta-view.active {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .receipt-view{
    background-color: #353131;
    padding: 2em;
} */
.receipt-view {
    background-color: #353131;
    padding: 2em;
}

.receipt-view.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}